@page "/stations"
@using dublinbike_blazor.Models
@using dublinbike_blazor.Services

<PageTitle>Bike Stations</PageTitle>

<div class="layout">

    <StationFilters
        Search="@search"
        SearchChanged="@(v => search = v)"

        Status="@status"
        StatusChanged="@(v => status = v)"

        MinBikes="@minBikes"
        MinBikesChanged="@(v => minBikes = v)"

        OnClear="ClearFilters"
    />

    <div class="main-grid">
        <StationList 
            Search="search"
            Status="status"
            MinBikes="minBikes"
            OnSelect="SelectStation"
        />

        @if (selected is not null)
        {
            <StationDetail Station="selected" />
        }
    </div>

</div>

@code {
    private string search = "";
    private string status = "all";
    private int minBikes = 0;

    private BikeStation? selected;

    private void SelectStation(BikeStation station)
    {
        selected = station;
    }

    private void ClearFilters()
    {
        search = "";
        status = "all";
        minBikes = 0;
        selected = null;
    }
}
